@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,500;1,400&family=Oswald:wght@400;500&display=swap');
:root {
    --primary-color: red;
    --secondary-color: yellow;
}

body {
    font-family: 'Borel', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
}

hr {
    margin: 3rem 0rem;
}
h2 {
    color:peru;
}

h3 {
    color:violet;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    max-width: 600px;
    color:chartreuse;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    max-width: 600px;
    color:blueviolet;

}

/** links **/
    
.primary-link {
    margin: auto;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    background-color:aqua;
    color: var(--primary-color);

}

.secondary-link {
    text-decoration: none;
    margin: auto;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    background-color:blue;
    padding: 0.5rem 1rem;
}
/** lists **/

.bullet {
    list-style: none;
}

.item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.reversed {
    list-style: none;
}

.the-reverse-order {
    display: inline;
    padding: 0rem 0.5rem;
}
/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.nav-brand {
    color: white;
    font-weight: bold;
    font-size: larger;
}
.list-non-bullet {
    list-style: none;
    text-align: right;
    font-weight: bold;
    font-size: large;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.link {
    color:white;
    text-decoration: none;
}